@font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/FontsFree-Net-Montserrat-Medium.ttf')
}
@font-face {
  font-family: 'Samsung';
  src: url('./styles/fonts/SamsungSharpSansRegular-Regular.ttf')
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Montserrat';
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
  width: 100%;
}



body {
  background: linear-gradient(to right, #e6dfdf, #ffffff, #dedde2);
}



.navContainer {
 background-color: #f4f4f4;;
  color: black !important;
  display: flex;
  align-items: center;
  min-height: 10%;
  padding: 20px 50px 0px 50px;
}


.navContainer nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav ul {
  display: flex;
  font-size: 20px;
  gap: 30px;
  font-weight: 400;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.tab {
  color: black;
  text-transform: uppercase;
}

.cart,
.searchBtn,
.submitSearch {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.cart {
  font-size: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.tab:first-child {
  margin-right: auto;
}

.searchBtn {
  margin-left: auto;
}


.searchBtn img {
  filter: invert(1);
}


.home-div {
  background-color: #f4f4f4;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home {
  height: 674px;
  width: 1024px;
  background-image: url('./styles/images/galaxy-z-fold4_highlights_kv.jpg');
}

.home-title  {
  display: flex;
  flex-direction: column;
  transform: translateX(-600px) translateY(100px);
}

.home-title h1 {
  font-size: 5.5em;
  font-family: 'Samsung';
}

.home-title p {
  font-size: 1.3em;
}


.home-title button {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: rgb(0 0 0);
    font-size: 1.5em;
    border: none;
    align-self: flex-start;
    border-radius: 5px;
    cursor: pointer;
}

.home-title a {
  color: white;
}


.inputDiv  {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.884);
  z-index: 33;
  display: none;
  justify-content: center;
  align-items: center;
}
.inputDiv.show {
  display: flex;
}

.inputDiv input {
  font-size: 3em;
  padding: 0px 60px 0px 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  color: white;
}

.inputDiv input:focus {
  outline: none;
}

.submitSearch img {
  height: 50px;
}

.submitSearch {
  transform: translateX(-50px);
}


.closeInput {
  position: absolute;
  top: 5%;
  right: 20%;
  background-color: transparent;
  border: none;
  filter: invert(1);
  cursor: pointer;
}

.closeInput img {
  height: 40px;
}


.cartDiv {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  background-color: black;
  color: white;
  padding: 30px 30px;
  min-width: 420px;
}

.cartDiv > h1 {
  margin-bottom: 50px;
}

.cartDiv.show {
  display: flex;
  flex-direction: column;
}

.cartBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8666666666666667);
}

.closeCart {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: invert(1);
}

.closeCart img {
  height: 40px;
}








.shopDiv {
  display: flex;
  min-height: 90%;
  width: 100%;
  background-color: #f4f4f4;
}

.sidebar {
  width: 25%;
  padding: 70px 5%;
}

.sidebar ul {
  margin-top: 100px;
}

.sidebar li {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 25px;
  font-size: 1.5em;
  line-height: 1.2em;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.sidebar li:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    background: #e3dfdc;
    transition: transform 1s cubic-bezier(.23,1,.32,1);
    transform-origin: 0 50%;
    transform: scaleX(0);
    bottom: 0px;
    height: 10px;
}

.sidebar li:hover:after{
  transform:scaleX(1)
}


.mainpage {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(5, 450px);
  padding: 100px;
}

.products {
  text-align: center;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.products:hover {
  background-color: #333399;
  color: white;
  transition: all 0.7s ease-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.products img {
  height: 240px;
}

.products:hover img {
  transition: all 15s ease-out;
  transform: scale(1,1) rotate(.001deg);
}


.products button {
  border: 1px solid transparent;
  padding: 8px 12px;
  background-color: #232323;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}




.itemsInBasket {
  display: flex;
  max-height: 220px;
  padding: 10px;
}

.itemsInBasket img {
  height: 180px;
}

.itemsDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.itemsDescription figcaption {
  font-size: 1.5em;
}

.itemsDescription > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.itemsDescription button {
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
  border-radius: 5px;
}