@font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/FontsFree-Net-Montserrat-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Samsung';
  src: url('./styles/fonts/SamsungSharpSansRegular-Regular.ttf');
  font-display: swap;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Montserrat';
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: #f4f4f4;
}



body {
  background: linear-gradient(to right, #e6dfdf, #ffffff, #dedde2);
}


/*_____________________


      Navigation

______________________*/


.navContainer {
 background-color: #f4f4f4;;
  color: black !important;
  display: flex;
  align-items: center;
  min-height: 10%;
  padding: 20px 50px 0px 50px;
}


.navContainer nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav ul {
  display: flex;
  font-size: 20px;
  gap: 30px;
  font-weight: 400;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.tab {
  color: black;
  text-transform: uppercase;
}

.cart,
.searchBtn,
.submitSearch {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.cart {
  font-size: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.tab:first-child {
  margin-right: auto;
}

.searchBtn {
  margin-left: auto;
}


.searchBtn img {
  filter: invert(1);
}


/*_____________________


      Home-div

______________________*/





.home-div {
  background-color: #f4f4f4;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home {
  height: 674px;
  width: 1024px;
  background-image: url('./styles/images/galaxy-z-fold4_highlights_kv.jpg');
}

.home-title  {
  display: flex;
  flex-direction: column;
  transform: translateX(-600px) translateY(100px) ;
}

.home-title h1 {
  font-size: 5.5em;
  font-family: 'Samsung';
}

.home-title p {
  font-size: 1.3em;
}


.home-title button {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: rgb(0 0 0);
    font-size: 1.5em;
    border: none;
    align-self: flex-start;
    border-radius: 5px;
    cursor: pointer;
}

.home-title a {
  color: white;
}







/*_____________________


      Search input

______________________*/



.inputDiv  {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.884);
  z-index: 33;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: all .5s cubic-bezier(.65,.05,.36,1);
  transform: translateY(150%);
  display: flex;
}
.inputDiv.show {
  transition: all .5s cubic-bezier(.65,.05,.36,1);
  transform: translate(0px);
}

.inputDiv input {
  font-size: 3em;
  padding: 0px 60px 0px 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  color: white;
}
.inputDiv form {
  display: flex;
  flex-direction: row-reverse;
}

.inputDiv input:focus {
  outline: none;
}

.submitSearch img {
  height: 50px;
}

.submitSearch {
  transform: translateX(-50px);
}


.closeInput {
  position: absolute;
  top: 5%;
  right: 20%;
  background-color: transparent;
  border: none;
  filter: invert(1);
  cursor: pointer;
}

.closeInput img {
  height: 40px;
}






/*_____________________


      Cart-div

______________________*/




.cartDiv {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 30px 30px;
  min-width: 420px;
  overflow: auto;
  transform: translate(150%);
  transition: all .5s cubic-bezier(.65,.05,.36,1);
  z-index: 9;
}

.cartDiv.show {
  transform: translate(0px);
  transition: all .7s cubic-bezier(.65,.05,.36,1);
}
.cartDiv > h1 {
  margin-bottom: 50px;
}

.cartBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .4s cubic-bezier(.65,.05,.36,1);
  height: 100%;
  background-color: rgba(0,0,0,.8666666666666667);
  opacity: 1;
  z-index: 2;
}

.noBackdrop {
  transition: all .5s cubic-bezier(.65,.05,.36,1);
  opacity: 0;
}

.closeCart {
  position: absolute;
  top: 4%;
  right: 6%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closeCart img {
  height: 30px;
}



/*_____________________


      Shop-div

______________________*/





.shopDiv {
  display: flex;
  min-height: 90%;
  width: 100%;
  background-color: #f4f4f4;
}

.sidebar {
  min-width: 20%;
  padding: 70px 3%;
}

.sidebar ul {
  margin-top: 100px;
  width: 80%;
}

.sidebarList {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 25px;
  font-size: 1.5em;
  line-height: 1.2em;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: black;
}

.sidebarList:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    background: #e3dfdc;
    transition: transform 1s cubic-bezier(.23,1,.32,1);
    transform-origin: 0 50%;
    transform: scaleX(0);
    bottom: 0px;
    height: 10px;
}

.sidebar li:hover:after{
  transform:scaleX(1)
}



.mainpage {
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 100px;
  justify-content: center;
}

.products {
  text-align: center;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  height: 450px;
}

.products:hover {
  background-color: #333399;
  color: white;
  transition: all 0.4s ease-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.products img {
  height: 240px;
}

.products:hover img {
  transition: all 15s ease-out;
  transform: scale(1,1) rotate(.001deg);
}


.addToCart {
  border: 1px solid #b8b4b2;
  padding: 8px 8px;
  background-color: #f4f4f4;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  width: 30%;
  font-size: 0.6em;
  font-weight: 600;
}




.itemsInBasket {
  display: flex;
  max-height: 220px;
  padding: 10px;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid lightgray;
}

.itemsInBasket img {
  height: 100px;
}



.cartImgDiv {
  display: flex;
  min-width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
}

.itemsDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.itemsDescription figcaption {
  font-size: 1.4em;
}

.itemsDescription > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.itemsDescription button {
  height: 30px;
  width: 30px;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.trashBtn {
  background-color: white !important;
  margin-left: auto;
}

.trashBtn img {
  height: 30px;
}


.checkout {
  width: 100%;
  min-height: 75px;
  margin-top: auto;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  border: 1px solid #b8b4b2;
  transition: all .4s cubic-bezier(.65,.05,.36,1);
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
}


.checkout > div {
  transition: all .4s cubic-bezier(.65,.05,.36,1);
  font-size: 1.2em;
  z-index: 1;
  font-weight: 800;
}

.checkout::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 75px;
  left: 0;
  position: absolute;
  transition: all .4s cubic-bezier(.65,.05,.36,1);
  background-color: #231f20;
}

.checkout:hover::before {
  top: 0;
}

.checkout:hover > div {
  color: white;
}

.totalPrice {
  margin-top: 20px;
  margin-bottom: 40px;
}

.addedToCart {
  background-color: black;
}

.selection {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selection  button {
  border: none;
  text-transform: capitalize;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 1.3em;
  transition: transform 1s cubic-bezier(.23,1,.32,1);
  position: relative;
}

.selection > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.sortList {
  display: flex;
  align-items: center;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: black;
  width: 50%;
}

.sortList::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  background: #3a3938;
  transition: transform 1s cubic-bezier(.23,1,.32,1);
  transform-origin: 0 50%;
  transform: scaleX(0);
  bottom: -2px;
  height: 5px;
}

.resetBtn {
  width: 100%;
  margin-top: 50px;
  font-size: 1.3em;
  padding: 7px 7px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.filters {
  display: none;
}
.closeFilters {
  display: none;
}

